[submodule "nepi-protobuf"]
	path = nepi-protobuf
	url = git@bitbucket.org:numurus/nepi-protobuf.git
[submodule "src/nepi_edge_sw_mgr"]
	path = src/nepi_edge_sw_mgr
	url = git@bitbucket.org:numurus/nepi_edge_sw_mgr.git
